.overview_panel img {
  width: 100%;
  border-radius: 4px;
}

.overview_panel {
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_region {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 24px;
}

.overview_numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  text-align: center;
}

.overview_label {
  font-size: 14px;
  color: var(--text-color-secondary);
}

.details_panel {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.details_panel_heading {
  padding: 20px;
  padding-bottom: 0;

  margin: 0;
}

.details_panel_row {
  display: flex;
  justify-content: space-between;

  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.details_panel_label {
  color: var(--text-color-secondary);
}

.details_panel_borders {
  padding: 20px;
}

.details_panel_borders_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 24px;
}

.details_panel_borders img {
  width: 100%;
  border-radius: 4px;
}

.details_panel_borders_country {
  text-align: center;
}

.details_panel_borders_label {
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

@media screen and (min-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }

  .container_left {
    grid-column: 1 / span 4;
  }

  .container_right {
    grid-column: 5 / span 8;
  }
}
